.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-inline: 10rem;
}

.about-header {
  font-size: 60px;
  font-weight: bold;
  color: purple;
  text-align: center;
}

.about-text {
  margin-top: 3rem;
  font-size: 20px;
  font-weight: bold;
  color: darkslategrey;
  text-align: center;
  margin-inline: 33rem;
}
